<div class="devider_{{ section.id }}"></div>


<style>
.devider_{{ section.id }} {
  padding-top: {{ section.settings.pad-top }};
  display:block;
  padding-bottom: {{ section.settings.pad-bot }};
}

@media only screen and ( max-width: 991px ) {
  .devider_{{ section.id }} {
    padding-top: {{ section.settings.pad-topm }};
    display:block;
    padding-bottom: {{ section.settings.pad-botm }};
}

}
  
</style>

{% schema %}
  {
    "name": "Devider",
    "settings": [
      {
        "type": "text",
        "id": "pad-top",
        "label": "Space Top",
        "default": "35px"
      },
      {
        "type": "text",
        "id": "pad-bot",
        "label": "Space Bottom",
        "default": "35px"
      },
       {
        "type": "text",
        "id": "pad-topm",
        "label": "Space Top Mobile",
        "default": "10px"
      },
      {
        "type": "text",
        "id": "pad-botm",
        "label": "Space Bottom Mobile",
        "default": "10px"
      }
    ],
    "presets": [
      {
        "name": "Devider",
        "category": "Custom Sections"
      }
    ]
  }
{% endschema %}
